In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#http://techbus.safaribooksonline.com/video/databases-and-reporting-tools/9781771375764/introduction/video240029

# Date Types

In [14]:
temps = pd.Series([10, 30, 40, 50, 90])

In [15]:
temps

0    10
1    30
2    40
3    50
4    90
dtype: int64

In [16]:
temps = pd.Series([1.1, 30, 40, 50, 90])

In [17]:
temps

0     1.1
1    30.0
2    40.0
3    50.0
4    90.0
dtype: float64

In [18]:
temps = pd.Series([{}, 30.1, 40, 50, 90])

In [19]:
temps

0      {}
1    30.1
2      40
3      50
4      90
dtype: object

In [20]:
temps = pd.Series(["2016-01-02", "2017-03-04"])

In [21]:
temps

0    2016-01-02
1    2017-03-04
dtype: object

In [22]:
pd.to_datetime(temps)

0   2016-01-02
1   2017-03-04
dtype: datetime64[ns]

# More Series

In [25]:
temps = pd.Series([10, 30, 40, 50, 90])
for x in temps:
    print x

10
30
40
50
90

In [27]:
10 in temps

False

In [31]:
4 in temps  #check the index

True

In [32]:
40 in set(temps)

True

In [33]:
40 in temps.values

True

In [34]:
set(temps)

{10, 30, 40, 50, 90}

In [35]:
dict(temps)

{0: 10, 1: 30, 2: 40, 3: 50, 4: 90}

In [36]:
for i, val in temps.iteritems():
    print i, val

0 10
1 30
2 40
3 50
4 90

In [37]:
for i, val in dict(temps).items():
    print i,val

0 10
1 30
2 40
3 50
4 90