In [1]:
import pandas as pd

# Adding rows

In [2]:
s17 = pd.DataFrame([{"rebound": 10, "asistance":8, "season":"2016-2017"}])

In [3]:
s17

   asistance  rebound     season
0          8       10  2016-2017

In [4]:
s16 = pd.DataFrame([{"rebound": 11, "asistance":8, "season":"2015-2016"}])

In [5]:
s17.append(s16)

   asistance  rebound     season
0          8       10  2016-2017
0          8       11  2015-2016

In [6]:
ss = pd.concat([s17, s16], ignore_index=True)
ss

   asistance  rebound     season
0          8       10  2016-2017
1          8       11  2015-2016

In [7]:
ss.loc[2] = [9,9.6, "2014-2015"] # add a new row

In [8]:
ss

   asistance  rebound     season
0          8     10.0  2016-2017
1          8     11.0  2015-2016
2          9      9.6  2014-2015

In [9]:
# ss.iloc[3] = [9,9.6, "2014-2015"] # out of index, error out

# Adding Columns

In [10]:
ss

   asistance  rebound     season
0          8     10.0  2016-2017
1          8     11.0  2015-2016
2          9      9.6  2014-2015

In [11]:
ss["team"] = "cv" # broadcasting

In [12]:
ss

   asistance  rebound     season team
0          8     10.0  2016-2017   cv
1          8     11.0  2015-2016   cv
2          9      9.6  2014-2015   cv

In [13]:
ss.loc[:,"league"] = "NBA"

In [14]:
ss

   asistance  rebound     season team league
0          8     10.0  2016-2017   cv    NBA
1          8     11.0  2015-2016   cv    NBA
2          9      9.6  2014-2015   cv    NBA

In [15]:
ss["PTS"] = [30,29,31]

In [16]:
ss

   asistance  rebound     season team league  PTS
0          8     10.0  2016-2017   cv    NBA   30
1          8     11.0  2015-2016   cv    NBA   29
2          9      9.6  2014-2015   cv    NBA   31

# Apply functions to columsn

In [17]:
ss["PTS"] / ss["asistance"]

0    3.750000
1    3.625000
2    3.444444
dtype: float64

In [18]:
ss["rebound"].apply(lambda x : x/100)

0    0.100
1    0.110
2    0.096
Name: rebound, dtype: float64

In [19]:
def percent(vals):
    p, a = vals
    return p/a
ss[["rebound","asistance"]].apply(percent, axis=1)

0    1.250000
1    1.375000
2    1.066667
dtype: float64

# Remove coulumns

In [20]:
ss

   asistance  rebound     season team league  PTS
0          8     10.0  2016-2017   cv    NBA   30
1          8     11.0  2015-2016   cv    NBA   29
2          9      9.6  2014-2015   cv    NBA   31

In [21]:
ss[["season","league","PTS"]]

      season league  PTS
0  2016-2017    NBA   30
1  2015-2016    NBA   29
2  2014-2015    NBA   31

In [22]:
ss.pop("league")

0    NBA
1    NBA
2    NBA
Name: league, dtype: object

In [23]:
ss

   asistance  rebound     season team  PTS
0          8     10.0  2016-2017   cv   30
1          8     11.0  2015-2016   cv   29
2          9      9.6  2014-2015   cv   31

In [24]:
del ss["PTS"]

In [25]:
ss

   asistance  rebound     season team
0          8     10.0  2016-2017   cv
1          8     11.0  2015-2016   cv
2          9      9.6  2014-2015   cv

In [26]:
ss.rename(columns={"team":"team name"})

   asistance  rebound     season team name
0          8     10.0  2016-2017        cv
1          8     11.0  2015-2016        cv
2          9      9.6  2014-2015        cv

# Sorting data

In [27]:
ss

   asistance  rebound     season team
0          8     10.0  2016-2017   cv
1          8     11.0  2015-2016   cv
2          9      9.6  2014-2015   cv

In [28]:
ss.set_value(3, "team", "cv")

   asistance  rebound     season team
0        8.0     10.0  2016-2017   cv
1        8.0     11.0  2015-2016   cv
2        9.0      9.6  2014-2015   cv
3        NaN      NaN        NaN   cv

In [29]:
ss.sort_values("season",ascending=True, na_position="first")

   asistance  rebound     season team
3        NaN      NaN        NaN   cv
2        9.0      9.6  2014-2015   cv
1        8.0     11.0  2015-2016   cv
0        8.0     10.0  2016-2017   cv

In [30]:
ss["GP"] = [10, 20,20,30]

In [31]:
ss

   asistance  rebound     season team  GP
0        8.0     10.0  2016-2017   cv  10
1        8.0     11.0  2015-2016   cv  20
2        9.0      9.6  2014-2015   cv  20
3        NaN      NaN        NaN   cv  30

In [32]:
ss.sort_values(["GP", "rebound"], ascending=[False, True])

   asistance  rebound     season team  GP
3        NaN      NaN        NaN   cv  30
2        9.0      9.6  2014-2015   cv  20
1        8.0     11.0  2015-2016   cv  20
0        8.0     10.0  2016-2017   cv  10

In [33]:
ss.sort_index(axis=1, ascending=False)

  team     season  rebound  asistance  GP
0   cv  2016-2017     10.0        8.0  10
1   cv  2015-2016     11.0        8.0  20
2   cv  2014-2015      9.6        9.0  20
3   cv        NaN      NaN        NaN  30

In [34]:
ss.sort_index(axis=1, ascending=True)

   GP  asistance  rebound     season team
0  10        8.0     10.0  2016-2017   cv
1  20        8.0     11.0  2015-2016   cv
2  20        9.0      9.6  2014-2015   cv
3  30        NaN      NaN        NaN   cv

# Iteration of Dataframes

In [37]:
ss

   asistance  rebound     season team  GP
0        8.0     10.0  2016-2017   cv  10
1        8.0     11.0  2015-2016   cv  20
2        9.0      9.6  2014-2015   cv  20
3        NaN      NaN        NaN   cv  30

In [35]:
for x in ss: # colums
    print x

asistance
rebound
season
team
GP

In [38]:
for x in ss.iteritems(): # Series
    print x

('asistance', 0    8.0
1    8.0
2    9.0
3    NaN
Name: asistance, dtype: float64)
('rebound', 0    10.0
1    11.0
2     9.6
3     NaN
Name: rebound, dtype: float64)
('season', 0    2016-2017
1    2015-2016
2    2014-2015
3          NaN
Name: season, dtype: object)
('team', 0    cv
1    cv
2    cv
3    cv
Name: team, dtype: object)
('GP', 0    10
1    20
2    20
3    30
Name: GP, dtype: int64)

In [43]:
for x in ss.itertuples(): # rows
    print x
    print type(x)
    break

Pandas(Index=0, asistance=8.0, rebound=10.0, season='2016-2017', team='cv', GP=10)
<class 'pandas.core.frame.Pandas'>

In [48]:
for x in ss.iterrows(): # index, Series
    print x
    print type(x)
    break

(0, asistance            8
rebound             10
season       2016-2017
team                cv
GP                  10
Name: 0, dtype: object)
<type 'tuple'>

In [45]:
len(x)

2

In [46]:
x[0]

0

In [47]:
x[1]

asistance            8
rebound             10
season       2016-2017
team                cv
GP                  10
Name: 0, dtype: object

# Set values

In [49]:
ss

   asistance  rebound     season team  GP
0        8.0     10.0  2016-2017   cv  10
1        8.0     11.0  2015-2016   cv  20
2        9.0      9.6  2014-2015   cv  20
3        NaN      NaN        NaN   cv  30

In [50]:
ss.set_value(0, "asistance", 18)

   asistance  rebound     season team  GP
0       18.0     10.0  2016-2017   cv  10
1        8.0     11.0  2015-2016   cv  20
2        9.0      9.6  2014-2015   cv  20
3        NaN      NaN        NaN   cv  30

In [51]:
ss.set_value(5, "asistance", 18) # add a new row

   asistance  rebound     season team    GP
0       18.0     10.0  2016-2017   cv  10.0
1        8.0     11.0  2015-2016   cv  20.0
2        9.0      9.6  2014-2015   cv  20.0
3        NaN      NaN        NaN   cv  30.0
5       18.0      NaN        NaN  NaN   NaN

In [52]:
ss.loc[6, "rebound"] = 11 # add a new row as well

In [53]:
ss

   asistance  rebound     season team    GP
0       18.0     10.0  2016-2017   cv  10.0
1        8.0     11.0  2015-2016   cv  20.0
2        9.0      9.6  2014-2015   cv  20.0
3        NaN      NaN        NaN   cv  30.0
5       18.0      NaN        NaN  NaN   NaN
6        NaN     11.0        NaN  NaN   NaN

In [55]:
# ss.iloc[7, "rebound"] = 11 # out of index, error out