In [1]:
import pandas as pd

# Adding rows

In [3]:
s17 = pd.DataFrame([{"rebound": 10, "asistance":8, "season":"2016-2017"}])

In [4]:
s17

   asistance  rebound     season
0          8       10  2016-2017

In [5]:
s16 = pd.DataFrame([{"rebound": 11, "asistance":8, "season":"2015-2016"}])

In [6]:
s17.append(s16)

   asistance  rebound     season
0          8       10  2016-2017
0          8       11  2015-2016

In [12]:
ss = pd.concat([s17, s16], ignore_index=True)
ss

   asistance  rebound     season
0          8       10  2016-2017
1          8       11  2015-2016

In [18]:
ss.loc[2] = [9,9.6, "2014-2015"] # add a new row

In [19]:
ss

   asistance  rebound     season
0          8     10.0  2016-2017
1          8     11.0  2015-2016
2          9      9.6  2014-2015

In [21]:
# ss.iloc[3] = [9,9.6, "2014-2015"] # out of index, error out

# Adding Columns

In [22]:
ss

   asistance  rebound     season
0          8     10.0  2016-2017
1          8     11.0  2015-2016
2          9      9.6  2014-2015

In [23]:
ss["team"] = "cv" # broadcasting

In [24]:
ss

   asistance  rebound     season team
0          8     10.0  2016-2017   cv
1          8     11.0  2015-2016   cv
2          9      9.6  2014-2015   cv

In [25]:
ss.loc[:,"league"] = "NBA"

In [26]:
ss

   asistance  rebound     season team league
0          8     10.0  2016-2017   cv    NBA
1          8     11.0  2015-2016   cv    NBA
2          9      9.6  2014-2015   cv    NBA

In [27]:
ss["PTS"] = [30,29,31]

In [36]:
ss

   asistance  rebound     season team league  PTS
0          8     10.0  2016-2017   cv    NBA   30
1          8     11.0  2015-2016   cv    NBA   29
2          9      9.6  2014-2015   cv    NBA   31

# Apply functions to columsn

In [29]:
ss["PTS"] / ss["asistance"]

0    3.750000
1    3.625000
2    3.444444
dtype: float64

In [30]:
ss["rebound"].apply(lambda x : x/100)

0    0.100
1    0.110
2    0.096
Name: rebound, dtype: float64

In [37]:
def percent(vals):
    p, a = vals
    return p/a
ss[["rebound","asistance"]].apply(percent, axis=1)

0    1.250000
1    1.375000
2    1.066667
dtype: float64

# Remove coulumns

In [38]:
ss

   asistance  rebound     season team league  PTS
0          8     10.0  2016-2017   cv    NBA   30
1          8     11.0  2015-2016   cv    NBA   29
2          9      9.6  2014-2015   cv    NBA   31

In [39]:
ss[["season","league","PTS"]]

      season league  PTS
0  2016-2017    NBA   30
1  2015-2016    NBA   29
2  2014-2015    NBA   31

In [40]:
ss.pop("league")

0    NBA
1    NBA
2    NBA
Name: league, dtype: object

In [41]:
ss

   asistance  rebound     season team  PTS
0          8     10.0  2016-2017   cv   30
1          8     11.0  2015-2016   cv   29
2          9      9.6  2014-2015   cv   31

In [42]:
del ss["PTS"]

In [43]:
ss

   asistance  rebound     season team
0          8     10.0  2016-2017   cv
1          8     11.0  2015-2016   cv
2          9      9.6  2014-2015   cv

In [44]:
ss.rename(columns={"team":"team name"})

   asistance  rebound     season team name
0          8     10.0  2016-2017        cv
1          8     11.0  2015-2016        cv
2          9      9.6  2014-2015        cv