In [7]:
#http://pandas.pydata.org/pandas-docs/stable/10min.html

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])

In [8]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [27]:
dates = pd.date_range('20130101', periods=6)

In [28]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
np.random.randn(6,4)

array([[ 0.27999393, -0.14597102,  0.84720747, -1.51362957],
       [ 1.00672996,  1.47714594,  0.2489773 , -1.21528962],
       [-0.53121963,  0.48247934, -2.10438859, -0.30789434],
       [-0.79174804, -0.38832306,  0.44330604,  0.78794991],
       [-0.46925945, -0.41342321, -0.711744  ,  0.78254852],
       [-0.71032007,  0.56893336, -1.63587577, -0.47114241]])

In [30]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [31]:
df

                   A         B         C         D
2013-01-01  0.625321 -0.894000  1.502664 -0.172998
2013-01-02  0.189559 -0.010129 -0.501571 -1.323609
2013-01-03  1.097302  0.858459  0.616142 -1.573700
2013-01-04 -0.256418 -0.724045  0.460571 -0.524023
2013-01-05  0.249485  1.865650 -1.746339 -1.531194
2013-01-06 -0.292866  0.300997  0.549544 -1.542781

In [18]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [19]:
ts = ts.cumsum()

In [23]:
print ts.plot()

Axes(0.125,0.125;0.775x0.775)

In [22]:
print np.version.full_version

1.11.1