In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#http://techbus.safaribooksonline.com/video/databases-and-reporting-tools/9781771375764/introduction/video240029

# Date Types

In [4]:
temps = pd.Series([10, 30, 40, 50, 90])

In [5]:
temps

0    10
1    30
2    40
3    50
4    90
dtype: int64

In [6]:
temps = pd.Series([1.1, 30, 40, 50, 90])

In [7]:
temps

0     1.1
1    30.0
2    40.0
3    50.0
4    90.0
dtype: float64

In [8]:
temps = pd.Series([{}, 30.1, 40, 50, 90])

In [9]:
temps

0      {}
1    30.1
2      40
3      50
4      90
dtype: object

In [10]:
temps = pd.Series(["2016-01-02", "2017-03-04"])

In [11]:
temps

0    2016-01-02
1    2017-03-04
dtype: object

In [12]:
pd.to_datetime(temps)

0   2016-01-02
1   2017-03-04
dtype: datetime64[ns]

# More Series

In [13]:
temps = pd.Series([10, 30, 40, 50, 90])
for x in temps:
    print x

10
30
40
50
90

In [14]:
10 in temps

False

In [15]:
4 in temps  #check the index

True

In [16]:
40 in set(temps)

True

In [17]:
40 in temps.values

True

In [18]:
set(temps)

{10, 30, 40, 50, 90}

In [19]:
dict(temps)

{0: 10, 1: 30, 2: 40, 3: 50, 4: 90}

In [20]:
for i, val in temps.iteritems():
    print i, val

0 10
1 30
2 40
3 50
4 90

In [21]:
for i, val in dict(temps).items():
    print i,val

0 10
1 30
2 40
3 50
4 90

# Broadcasting

In [22]:
temps

0    10
1    30
2    40
3    50
4    90
dtype: int64

In [23]:
temps + 2

0    12
1    32
2    42
3    52
4    92
dtype: int64

In [24]:
temps * 2

0     20
1     60
2     80
3    100
4    180
dtype: int64

In [25]:
t2 = pd.Series([11,22,33], index = [1,2,3])

In [26]:
temps + t2

0     NaN
1    41.0
2    62.0
3    83.0
4     NaN
dtype: float64

In [27]:
temps * t2

0       NaN
1     330.0
2     880.0
3    1650.0
4       NaN
dtype: float64

In [28]:
def add_2(val):
    return val+2

temps.apply(add_2)

0    12
1    32
2    42
3    52
4    92
dtype: int64

In [29]:
temps.apply(float)

0    10.0
1    30.0
2    40.0
3    50.0
4    90.0
dtype: float64

In [30]:
temps.astype(str)

0    10
1    30
2    40
3    50
4    90
dtype: object

In [31]:
temps.astype(float)

0    10.0
1    30.0
2    40.0
3    50.0
4    90.0
dtype: float64

# CRUD Operations Reading

In [35]:
temps = pd.Series([10, 30, 40, 50, 90], index = list("ABCDE"))
temps

A    10
B    30
C    40
D    50
E    90
dtype: int64

In [37]:
temps.loc["A"] #based on label

10

In [40]:
temps[0] #based on position and label

10

In [41]:
temps["A"]

10

In [44]:
temps.B

30

In [49]:
temps.iloc[-1] #based on position

90

In [52]:
temps = pd.Series([10, 30, 40, 50, 90], index = ["A","B","C",0,1]) # mixed index
temps

A    10
B    30
C    40
0    50
1    90
dtype: int64

In [53]:
temps[4]

90

In [57]:
temps.loc[0] #label

50

In [56]:
temps[0] #label

50

# CRUD updating

In [58]:
temps = pd.Series([10, 30, 40, 50, 90], index = list("ABCDE"))
temps

A    10
B    30
C    40
D    50
E    90
dtype: int64

In [60]:
temps["A"] = 11
temps.loc["B"] = 31
temps.iloc[-1] = 91
temps

A    11
B    31
C    40
D    50
E    91
dtype: int64

In [61]:
t2 = temps.append(pd.Series([100],index=["F"]))
t2

A     11
B     31
C     40
D     50
E     91
F    100
dtype: int64

In [62]:
temps

A    11
B    31
C    40
D    50
E    91
dtype: int64

In [63]:
temps.set_value("D",51)

A    11
B    31
C    40
D    51
E    91
dtype: int64

In [64]:
temps

A    11
B    31
C    40
D    51
E    91
dtype: int64